.container {
	width: 640px;
	display: flex;
	flex-direction: column;
	align-self: center;
}

.order-number {
	align-self: center;
}

.order-status_done {
	color: #0cc;
}

.ingredients-list {
	list-style: none;
	margin: 0;
	padding: 0;
	max-height: 312px;
	overflow-y: scroll;
	box-sizing: border-box;
}

.ingredient {
	display: flex;
	align-items: center;
}

.time-price {
	display: flex;
	justify-content: space-between;
}

.price {
	display: flex;
	align-items: center;
}
