.section__container {
  padding: 100px 0 0 0;
  max-width: 600px;
  width: 100%;
  gap: 40px;
}

.ingredients__container {
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  margin: 0 0 40px;
  padding: 0;
  list-style: none;
  gap: 16px;
  min-height: calc(100vh - 343px);
}

.bun__empty {
  padding: 16px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--background-element);
  max-width: 536px;
  width: 100%;
  min-height: 80px;
  font-family: 'Jet Brains Mono';
  border-radius: 88px 88px 40px 40px;
  font-size: 16px;
  line-height: 24px;
  color: #f2f2f3;
  flex-grow: 1;
  box-sizing: border-box;
}

.bun__empty_top {
  border-radius: 88px 88px 40px 40px;
}

.bun__empty_bottom {
  border-radius: 40px 40px 88px 88px;
}

.bun__emptyText {
  text-align: center;
}

.toppings__container {
  display: flex;
  gap: 16px;
  flex-direction: column;
  justify-self: flex-end;
  margin: 0;
  padding: 0 8px 0 0;
  list-style: none;
  height: calc(100vh - 535px);
  overflow-y: scroll;
}
